src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5036abc6-bfe7-4680-868c-14153477489a" >
		<http:listener-connection host="localhost" port="8087" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="f5d37d86-fb34-4655-9565-4f0eeabc3422" >
		<http:listener doc:name="Listener" doc:id="be3d43e9-07e0-43a0-9f5b-cbd4512533e5" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="7282e956-384d-4592-924b-9507714a86a0" message='#["Hello world updated"]'/>
	</flow>
</mule>
